.App {
  text-align: center;
  display: block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Side_Nav {
  width: 15%;
  background: rgb(77, 79, 219);
}

.NavItemWrapper {
  padding-top: 8%;
}

html, body, #root, .App, .Main, .Nav {
  min-height: 100vh;
}

.Main_Container {
  width: 85%;
  height: 100%;
}

.TopNav{
  background: rgb(250, 250, 250);
  height: 50px;
  width: 100%;
  margin: 0;
  overflow: hidden;
  box-shadow: rgb(189, 189, 189) 5px;
}
.Side_Nav a {
  text-decoration: none;
  color: black;
}

.App_Container {
  display: flex;
  height: 100vh;
}
